apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: ns1
  name: tee-user-role
rules:
- apiGroups: ["networking.gke.io"]
  resources: ["frontendconfigs"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

- apiGroups: ["*"]
  resources: ["pods","services","deployments","secrets","serviceaccounts"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: ["*"]
  resources: ["pods/exec","serviceaccounts/token"]
  verbs: [""]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tee-user-role-binding
  namespace: ns1
subjects:
- kind: User
  name: $BOB
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: tee-user-role
  apiGroup: rbac.authorization.k8s.io